c-switch.switch-custom {
  --switch--background-color: white;
  --switch--border-color: #222;
  --switch--border--width: 0.25rem;
  --switch--height: 3rem;
  --switch--width: 6rem;
  --switch--transition-duration: 0.5s;
}

c-switch.switch-custom::part(switch) {
  background-image: url('https://cdn.jsdelivr.net/npm/heroicons@2.0.18/24/solid/globe-asia-australia.svg');
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: greenyellow;
  border: 2px solid white;
  box-shadow: 0px 0.0625rem 0.625rem 0.1875rem rgba(0,0,0,0.15);
  transform: scale(1.1);
}