:host {
  --color-bg: #f2f0e6;
  --color-bg-brand: #a2b938;
  --color-bg-brand-hover: #8c9e2c;
  --color-bg-brand-pressed: #8c9e2c;
  --color-bg-brand-secondary: #717a22;
  --color-bg-brand-tertiary: #f2fae3;
  --color-bg-component: #bc4749;
  --color-bg-component-hover: #a53c3f;
  --color-bg-component-pressed: #a53c3f;
  --color-bg-component-secondary: #892129;
  --color-bg-component-tertiary: #fce1e1;
  --color-bg-danger: #bc4749;
  --color-bg-danger-hover: #a53c3f;
  --color-bg-danger-pressed: #a53c3f;
  --color-bg-danger-secondary: #892129;
  --color-bg-danger-tertiary: #fce1e1;
  --color-bg-disabled: #e2dbd5;
  --color-bg-disabled-secondary: #c4b8ae;
  --color-bg-hover: #f5f3ee;
  --color-bg-inverse: #483d33;
  --color-bg-onselected: #e5f2d4;
  --color-bg-onselected-hover: #e5f2d4;
  --color-bg-onselected-pressed: #e5f2d4;
  --color-bg-pressed: #f5f3ee;
  --color-bg-secondary: #f5f3ee;
  --color-bg-selected: #f2fae3;
  --color-bg-selected-hover: #e5f2d4;
  --color-bg-selected-pressed: #e5f2d4;
  --color-bg-selected-secondary: #f7fdeb;
  --color-bg-selected-tertiary: #f7fdeb;
  --color-bg-success: #8c9e2c;
  --color-bg-success-hover: #717a22;
  --color-bg-success-pressed: #717a22;
  --color-bg-success-secondary: #5f6619;
  --color-bg-success-tertiary: #f2fae3;
  --color-bg-tertiary: #e9e6df;
  --color-bg-warning: #dba727;
  --color-bg-warning-hover: #ce972b;
  --color-bg-warning-pressed: #ce972b;
  --color-bg-warning-secondary: #b68324;
  --color-bg-warning-tertiary: #fdf1d7;

  --color-border: #e6e6e6;
  --color-border-brand: #bde3ff;
  --color-border-brand-strong: #007be5;
  --color-border-component: #e4ccff;
  --color-border-component-hover: #9747ff;
  --color-border-component-strong: #8638e5;
  --color-border-danger: #ffc7c2;
  --color-border-danger-strong: #dc3412;
  --color-border-disabled: #e6e6e6;
  --color-border-disabled-strong: rgba(0, 0, 0, 0.3);
  --color-border-onbrand: #007be5;
  --color-border-onbrand-strong: rgba(255, 255, 255, 1);
  --color-border-oncomponent: #8638e5;
  --color-border-oncomponent-strong: rgba(255, 255, 255, 1);
  --color-border-ondanger: #dc3412;
  --color-border-ondanger-strong: rgba(255, 255, 255, 1);
  --color-border-onselected: #bde3ff;
  --color-border-onselected-strong: rgba(0, 0, 0, 0.9);
  --color-border-onsuccess: #009951;
  --color-border-onsuccess-strong: rgba(255, 255, 255, 1);
  --color-border-onwarning: #fab815;
  --color-border-onwarning-strong: rgba(0, 0, 0, 0.9);
  --color-border-selected: #0d99ff;
  --color-border-selected-strong: #007be5;
  --color-border-strong: #2c2c2c;
  --color-border-success: #aff4c6;
  --color-border-success-strong: #009951;
  --color-border-warning: #ffe8a3;
  --color-border-warning-strong: #b86200;
  --color-icon: rgba(0, 0, 0, 0.9);
  --color-icon-brand: #007be5;
  --color-icon-brand-pressed: #0768cf;
  --color-icon-brand-secondary: #80caff;
  --color-icon-brand-tertiary: #bde3ff;
  --color-icon-component: #8638e5;
  --color-icon-component-pressed: #7c2bda;
  --color-icon-component-secondary: #c5b2dc;
  --color-icon-component-tertiary: #c5b2dc;
  --color-icon-danger: #f24822;
  --color-icon-danger-hover: #bd2915;
  --color-icon-danger-pressed: #bd2915;
  --color-icon-danger-secondary: #f24822;
  --color-icon-danger-secondary-hover: #f24822;
  --color-icon-danger-tertiary: #f24822;
  --color-icon-disabled: rgba(0, 0, 0, 0.3);
  --color-icon-hover: rgba(0, 0, 0, 0.9);
  --color-icon-onbrand: rgba(255, 255, 255, 1);
  --color-icon-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --color-icon-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --color-icon-oncomponent: rgba(255, 255, 255, 1);
  --color-icon-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --color-icon-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --color-icon-ondanger: rgba(255, 255, 255, 1);
  --color-icon-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --color-icon-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --color-icon-ondisabled: rgba(255, 255, 255, 1);
  --color-icon-oninverse: rgba(255, 255, 255, 0.9);
  --color-icon-onselected: rgba(0, 0, 0, 0.9);
  --color-icon-onselected-secondary: rgba(0, 0, 0, 0.5);
  --color-icon-onselected-strong: rgba(255, 255, 255, 1);
  --color-icon-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --color-icon-onsuccess: rgba(255, 255, 255, 1);
  --color-icon-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --color-icon-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --color-icon-onwarning: rgba(0, 0, 0, 0.9);
  --color-icon-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --color-icon-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --color-icon-pressed: #007be5;
  --color-icon-secondary: rgba(0, 0, 0, 0.5);
  --color-icon-secondary-hover: rgba(0, 0, 0, 0.9);
  --color-icon-selected: #007be5;
  --color-icon-selected-secondary: #007be5;
  --color-icon-selected-tertiary: #007be5;
  --color-icon-success: #14ae5c;
  --color-icon-success-pressed: #008043;
  --color-icon-success-secondary: #14ae5c;
  --color-icon-success-tertiary: #14ae5c;
  --color-icon-tertiary: rgba(0, 0, 0, 0.3);
  --color-icon-tertiary-hover: rgba(0, 0, 0, 0.9);
  --color-icon-warning: #ffcd29;
  --color-icon-warning-pressed: #b86200;
  --color-icon-warning-secondary: #ffcd29;
  --color-icon-warning-tertiary: #ffcd29;
  --color-text: rgba(0, 0, 0, 0.9);
  --color-text-brand: #007be5;
  --color-text-brand-secondary: #007be5;
  --color-text-brand-tertiary: #007be5;
  --color-text-component: #8638e5;
  --color-text-component-pressed: #7c2bda;
  --color-text-component-secondary: #c5b2dc;
  --color-text-component-tertiary: #c5b2dc;
  --color-text-danger: #dc3412;
  --color-text-danger-secondary: #dc3412;
  --color-text-danger-tertiary: #dc3412;
  --color-text-disabled: rgba(0, 0, 0, 0.3);
  --color-text-hover: rgba(0, 0, 0, 0.9);
  --color-text-onbrand: rgba(255, 255, 255, 1);
  --color-text-onbrand-secondary: rgba(255, 255, 255, 0.8);
  --color-text-onbrand-tertiary: rgba(255, 255, 255, 0.4);
  --color-text-oncomponent: rgba(255, 255, 255, 1);
  --color-text-oncomponent-secondary: rgba(255, 255, 255, 0.8);
  --color-text-oncomponent-tertiary: rgba(255, 255, 255, 0.4);
  --color-text-ondanger: rgba(255, 255, 255, 1);
  --color-text-ondanger-secondary: rgba(255, 255, 255, 0.8);
  --color-text-ondanger-tertiary: rgba(255, 255, 255, 0.4);
  --color-text-ondisabled: rgba(255, 255, 255, 1);
  --color-text-oninverse: rgba(255, 255, 255, 0.9);
  --color-text-onselected: rgba(0, 0, 0, 0.9);
  --color-text-onselected-secondary: rgba(0, 0, 0, 0.5);
  --color-text-onselected-strong: rgba(255, 255, 255, 1);
  --color-text-onselected-tertiary: rgba(0, 0, 0, 0.3);
  --color-text-onsuccess: rgba(255, 255, 255, 1);
  --color-text-onsuccess-secondary: rgba(255, 255, 255, 0.8);
  --color-text-onsuccess-tertiary: rgba(255, 255, 255, 0.4);
  --color-text-onwarning: rgba(0, 0, 0, 0.9);
  --color-text-onwarning-secondary: rgba(0, 0, 0, 0.5);
  --color-text-onwarning-tertiary: rgba(0, 0, 0, 0.3);
  --color-text-secondary: rgba(0, 0, 0, 0.5);
  --color-text-secondary-hover: rgba(0, 0, 0, 0.9);
  --color-text-selected: #007be5;
  --color-text-selected-secondary: #007be5;
  --color-text-selected-tertiary: #007be5;
  --color-text-success: #009951;
  --color-text-success-secondary: #009951;
  --color-text-success-tertiary: #009951;
  --color-text-tertiary: rgba(0, 0, 0, 0.3);
  --color-text-tertiary-hover: rgba(0, 0, 0, 0.9);
  --color-text-warning: #b86200;
  --color-text-warning-secondary: #b86200;
  --color-text-warning-tertiary: #b86200;
  --color-border: #e2dbd5;
  --color-border-brand: #e5f2d4;
  --color-border-brand-strong: #8c9e2c;
  --color-border-component: #f9dadb;
  --color-border-component-hover: #bc4749;
  --color-border-component-strong: #a53c3f;
  --color-border-danger: #f9dadb;
  --color-border-danger-strong: #a53c3f;
  --color-border-disabled: #e2dbd5;
  --color-border-disabled-strong: #c4b8ae;
  --color-border-onbrand: #8c9e2c;
  --color-border-onbrand-strong: #717a22;
  --color-border-oncomponent: #a53c3f;
  --color-border-oncomponent-strong: #892129;
  --color-border-ondanger: #a53c3f;
  --color-border-ondanger-strong: #892129;
  --color-border-onselected: #e5f2d4;
  --color-border-onselected-strong: #483d33;
  --color-border-onsuccess: #717a22;
  --color-border-onsuccess-strong: #5f6619;
  --color-border-onwarning: #ce972b;
  --color-border-onwarning-strong: #483d33;
  --color-border-selected: #a2b938;
  --color-border-selected-strong: #8c9e2c;
  --color-border-strong: #483d33;
  --color-border-success: #daecc0;
  --color-border-success-strong: #717a22;
  --color-border-warning: #f9e4be;
  --color-border-warning-strong: #b68324;
  --color-icon: #483d33;
  --color-icon-brand: #8c9e2c;
  --color-icon-brand-pressed: #717a22;
  --color-icon-brand-secondary: #9aa246;
  --color-icon-brand-tertiary: #cddc9f;
  --color-icon-component: #a53c3f;
  --color-icon-component-pressed: #892129;
  --color-icon-component-secondary: #c08b8c;
  --color-icon-component-tertiary: #c08b8c;
  --color-icon-danger: #bc4749;
  --color-icon-danger-hover: #892129;
  --color-icon-danger-pressed: #892129;
  --color-icon-danger-secondary: #bc4749;
  --color-icon-danger-secondary-hover: #bc4749;
  --color-icon-danger-tertiary: #bc4749;
  --color-icon-disabled: #c4b8ae;
  --color-icon-hover: #483d33;
  --color-icon-onbrand: #f2f0e6;
  --color-icon-onbrand-secondary: #e7e3db;
  --color-icon-onbrand-tertiary: #d6d2cc;
  --color-icon-oncomponent: #f2f0e6;
  --color-icon-oncomponent-secondary: #e7e3db;
  --color-icon-oncomponent-tertiary: #d6d2cc;
  --color-icon-ondanger: #f2f0e6;
  --color-icon-ondanger-secondary: #e7e3db;
  --color-icon-ondanger-tertiary: #d6d2cc;
  --color-icon-ondisabled: #f2f0e6;
  --color-icon-oninverse: #f2f0e6;
  --color-icon-onselected: #483d33;
  --color-icon-onselected-secondary: #817469;
  --color-icon-onselected-strong: #f2f0e6;
  --color-icon-onselected-tertiary: #c4b8ae;
  --color-icon-onsuccess: #f2f0e6;
  --color-icon-onsuccess-secondary: #e7e3db;
  --color-icon-onsuccess-tertiary: #d6d2cc;
  --color-icon-onwarning: #483d33;
  --color-icon-onwarning-secondary: #817469;
  --color-icon-onwarning-tertiary: #c4b8ae;
  --color-icon-pressed: #8c9e2c;
  --color-icon-secondary: #817469;
  --color-icon-secondary-hover: #483d33;
  --color-icon-selected: #8c9e2c;
  --color-icon-selected-secondary: #8c9e2c;
  --color-icon-selected-tertiary: #8c9e2c;
  --color-icon-success: #8c9e2c;
  --color-icon-success-pressed: #5f6619;
  --color-icon-success-secondary: #8c9e2c;
  --color-icon-success-tertiary: #8c9e2c;
  --color-icon-tertiary: #c4b8ae;
  --color-icon-tertiary-hover: #483d33;
  --color-icon-warning: #dba727;
  --color-icon-warning-pressed: #b68324;
  --color-icon-warning-secondary: #dba727;
  --color-icon-warning-tertiary: #dba727;

  /* Text colors */
  --color-text: #483d33;
  --color-text-brand: #8c9e2c;
  --color-text-brand-secondary: #8c9e2c;
  --color-text-brand-tertiary: #8c9e2c;
  --color-text-component: #a53c3f;
  --color-text-component-pressed: #892129;
  --color-text-component-secondary: #c08b8c;
  --color-text-component-tertiary: #c08b8c;
  --color-text-danger: #a53c3f;
  --color-text-danger-secondary: #a53c3f;
  --color-text-danger-tertiary: #a53c3f;
  --color-text-disabled: #c4b8ae;
  --color-text-hover: #483d33;
  --color-text-onbrand: #f2f0e6;
  --color-text-onbrand-secondary: #e7e3db;
  --color-text-onbrand-tertiary: #d6d2cc;
  --color-text-oncomponent: #f2f0e6;
  --color-text-oncomponent-secondary: #e7e3db;
  --color-text-oncomponent-tertiary: #d6d2cc;
  --color-text-ondanger: #f2f0e6;
  --color-text-ondanger-secondary: #e7e3db;
  --color-text-ondanger-tertiary: #d6d2cc;
  --color-text-ondisabled: #f2f0e6;
  --color-text-oninverse: #f2f0e6;
  --color-text-onselected: #483d33;
  --color-text-onselected-secondary: #817469;
  --color-text-onselected-strong: #f2f0e6;
  --color-text-onselected-tertiary: #c4b8ae;
  --color-text-onsuccess: #f2f0e6;
  --color-text-onsuccess-secondary: #e7e3db;
  --color-text-onsuccess-tertiary: #d6d2cc;
  --color-text-onwarning: #483d33;
  --color-text-onwarning-secondary: #817469;
  --color-text-onwarning-tertiary: #c4b8ae;
  --color-text-secondary: #817469;
  --color-text-secondary-hover: #483d33;
  --color-text-selected: #8c9e2c;
  --color-text-selected-secondary: #8c9e2c;
  --color-text-selected-tertiary: #8c9e2c;
  --color-text-success: #717a22;
  --color-text-success-secondary: #717a22;
  --color-text-success-tertiary: #717a22;
  --color-text-tertiary: #c4b8ae;
  --color-text-tertiary-hover: #483d33;
  --color-text-warning: #b68324;
  --color-text-warning-secondary: #b68324;
  --color-text-warning-tertiary: #b68324;
}
