# Files and directories to ignore when publishing to npm

# Node.js files
node_modules/
npm-debug.log*

# Build files
build/
dist/
out/
*.tsbuildinfo

# Tests
test/
tests/
*.test.*
*.spec.*

# Configuration files
.editorconfig
.eslintignore
.eslintrc
.prettierrc
.stylelintrc

# Miscellaneous
.DS_Store
.gitignore
.gitattributes
*.md
*.markdown
*.yml
*.yaml
bun.lockb
Dockerfile
lwr.config.json
tailwind.config.js
tailwind.css
package-lock.json
**/*
!dist/**/*