@import './johndeere.css';
@import './mcdonalds.css';
@import './microsoft.css';

/* classes (defined outside the component) */
@import './file.css';

c-tablist::part(tab) {
  display: inline-block;
  padding: 1rem 2rem;
}

c-tablist::part(tab-selected) {
  background-color: var(--color-bg-selected);
}

c-tablist c-tab::part(tab-content) {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}