:host(.neutral) {
  --badge--background-color: #929AA0;
  --badge--border: 1px solid #929AA0;
  --badge--color: #000;
}

:host(.info) {
  --badge--background-color: #1ABCD5;
  --badge--border: 1px solid #1ABCD5;
  --badge--color: #000;
}

:host(.positive) {
  --badge--background-color: #30C553;
  --badge--border: 1px solid #30C553;
  --badge--color: #000;
}

:host(.negative) {
  --badge--background-color: #E7737F;
  --badge--border: 1px solid #E7737F;
  --badge--color: #000;
}

:host(.badge-xs) {
  font-size: 0.625rem; /* px: 10 */
  --badge--padding: 0.125rem 0.25rem;
}

:host(.badge-sm) {
  font-size: 0.75rem;
  --badge--padding: 0.25rem 0.5rem;
}